<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>createItem.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>createItemServlet</servlet-name>
    <servlet-class>com.finalProject.servlet.createItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createItemServlet</servlet-name>
    <url-pattern>/servlet/createItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.finalProject.servlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/servlet/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>itemConfirmServlet</servlet-name>
    <servlet-class>com.finalProject.servlet.itemConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>itemConfirmServlet</servlet-name>
    <url-pattern>/servlet/itemConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bidServlet</servlet-name>
    <servlet-class>com.finalProject.servlet.bidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bidServlet</servlet-name>
    <url-pattern>/servlet/bidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bidConfirmServlet</servlet-name>
    <servlet-class>com.finalProject.servlet.bidConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bidConfirmServlet</servlet-name>
    <url-pattern>/servlet/bidConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>item4buyServlet</servlet-name>
    <servlet-class>com.finalProject.servlet.item4buyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>item4buyServlet</servlet-name>
    <url-pattern>/servlet/item4buyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>winnerServlet</servlet-name>
    <servlet-class>com.finalProject.servlet.winnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>winnerServlet</servlet-name>
    <url-pattern>/servlet/winnerServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/perTag</taglib-uri>
      <taglib-location>/WEB-INF/permittedTaglibs.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/script</taglib-uri>
      <taglib-location>/WEB-INF/scriptfree.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>